body {
	width: 100% !important;
	background-color: #42484f !important;
}

main body html{
	overflow-y: hidden;
}

h2{
	color: #000000 !important;
	font-size: 32pt !important;
}

html {
	width:100%;
	margin: 0px; 
	padding: 0px;
}

.modal-title {
	color: white !important;
}

#home {
	margin-top: 10%;
}

table {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.modal-content{	
	background-color: #363837 !important;
}

#collapse-complete{
	display: none;
}

#title-collapse{
	margin-top: 7px;
	color: #fff;
}
a{
	color: #929496 !important;
}

#btn-register{
	color: #000000 !important;
	background-color: #69c999 !important;
}

#btn-consult{
	background-color: #608ebf !important;
	color: #000000 !important;
}

#footer{
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 text-align: center;
}

.dropdown-item{
	color: #000 !important;
	text-align: center;
}
.dropdown-item:hover{
	background-color: #929496;
}

.dropdown-menu.show {
	margin-left: 5% !important;
	width: 70.5%;
}
@media screen and (max-width: 500px) {
	.media{
		display:none;
	}
}

