<main >
	<h2 class="h1 mb-1 fw-normal text-center"> RAXID </h2>
	<div class="modal-dialog mt-4">
		<div class="modal-content shadow">
		  <div class="d-flex flex-column justify-content-center modal-body p-5">
				<button type="submit" id="btn-register" class="btn btn-success mb-2" >Register</button>
				<button type="submit" id="btn-consult" class="btn btn-info">Consult</button>
		  </div>
		</div>
  </div>
</main>
<div id='footer' class="w-100">
	<div class="row junstify-content-center">
	  <div class="col">
			<p class="text-body-secondary mt-3"> <a href="#"> Politicas de Privacidade</a></p>
		</div>
	  <div class="col">
			<p class="text-body-secondary mt-3"> <a href="#">TBF - 2025</a></p>
	  </div>
	</div>
</div>
